body {
   background-color: rgb(161, 218, 245)
}

#blue-ball {
    display: block;
    background: black;
    border-radius: 50%;
    height: 300px;
    width: 300px;
    margin: 0;
    background: radial-gradient(circle at 100px 100px, #5cabff, #000);
}
#pink-ball {
    display: block;
    background: rgb(129, 0, 97);
    border-radius: 50%;
    height: 300px;
    width: 300px;
    margin: 0;
    background: radial-gradient(circle at 100px 100px, #ffaded, rgb(1, 2, 88));
}
